@font-face
	{
		font-family: Exo-Bold;
		src: url('fonts/Exo-Bold.otf'),
		}
		
@font-face
	{
		font-family: Lato-Italic;
		src: url('fonts/Lato-Italic.ttf'),
		}
		
@font-face
	{
		font-family: Lato-Regular;
		src: url('fonts/Lato-Regular.ttf'),
		}

* {
	margin: 0;
	padding: 0;
	
}

body {
	background-image: url("img/bkgd.jpg");
	background-position: center top;
	background-attachment: fixed;
}

#wrapper {
	width: 100%;
	height: 100%;
}

#container {
	margin: 0 auto;
}

#headline {
	margin: 0 auto;
	text-align: center;
	font-family: Exo-Bold;
	font-size: 60px;
	color: white;
	
}

#highlight {
	color: #28d1a4;
}

#subtext {
	margin: 0 auto;
	padding: 50px;
	text-align: center;
	font-family: Lato-Italic;
	font-size: 25px;
	color: white;
}

#logo {
	width: 412px;
	height: 159px;
	margin: 50px auto;
	text-align: center;
	background-image: url("img/logo.png");
	background-repeat: no-repeat;
}

#email_box {
	width: 591px;
	height: 50px;
	margin: 0 auto;
}

#email_field {
	width: 400px;
	height: 47px;
	margin-right: 25px;
	color: #4288b9;
	font-size: 18px;
	font-family: Lato-Regular;
	float: left;
}

#email_submit {
	width: 166px;
	height: 47px;
	background-image: url("img/submit.jpg");
	background-repeat: no-repeat;
	float: left;
}

#response {
	margin: 0 auto;
	padding: 50px;
	text-align: center;
	font-family: Lato-Regular;
	font-size: 20px;
	color: white;
}

#footer {
	width: 100%;
	height: 16px;
	background-color: #28d1a4;
	margin: 0 auto;
	text-align: center;
}

#footer span {

	font-family: Lato-Regular;
	font-size: 13px;
	color: white;
}