@font-face {
   font-family: "Exo-Bold";
   src: url("fonts/Exo-Bold.eot"); 
   src: url("fonts/Exo-Bold.ttf") format("truetype"),
     url("fonts/Exo-Bold.otf") format("opentype"), 
     url("fonts/Exo-Regular.svg#Exo-Regular") format("svg");
}
		
@font-face {
   font-family: "Lato-Italic";
   src: url("fonts/Lato-Regular.eot"); 
   src: url("fonts/Lato-Italic.ttf") format("truetype"),
     url("fonts/Lato-Italic.otf") format("opentype"), 
     url("fonts/Lato-Italic.svg#Lato-Italic") format("svg");
}
		
@font-face {
   font-family: "Lato-Regular";
   src: url("fonts/Lato-Regular.eot"); 
   src: url("fonts/Lato-Regular.ttf") format("truetype"),
     url("fonts/Lato-Regular.otf") format("opentype"), 
     url("fonts/Lato-Regular.svg#Lato-Regular") format("svg");
}

* {
	margin: 0;
	padding: 0;
	
}

body {
	background-image: url("img/bkgd.jpg");
	background-position: center top;
	background-attachment: fixed;
}

#wrapper {
	width: 100%;
	height: 100%;
}

#container {
	margin: 0 auto;
	padding-top: 40px;
}


#logo {
	width: 412px;
	height: 159px;
	margin: 0 auto;
	padding-bottom: 20px;
	text-align: center;
	background-image: url("img/logo.png");
	background-repeat: no-repeat;
}


#headline {
	margin: 0 auto;
	text-align: center;
	font-family: Exo-Bold;
	font-size: 40px;
	color: white;
	
}

#highlight {
	color: #28d1a4;
}

#subtext {
	margin: 0 auto;
	padding: 30px 0;
	text-align: center;
	font-family: Lato-Regular;
	font-size: 18px;
	color: white;
}

#email_box {
	width: 591px;
	height: 50px;
	margin: 0 auto;
}

#email_field {
	width: 400px;
	height: 47px;
	margin-right: 25px;
	color: #4288b9;
	font-size: 18px;
	font-family: Lato-Regular;
	float: left;
}

#email_submit {
	width: 166px;
	height: 47px;
	background-image: url("img/submit.jpg");
	background-repeat: no-repeat;
	float: left;
	cursor: pointer;
}

#response {
	margin: 0 auto;
	padding-top: 20px;
	text-align: center;
	font-family: Lato-Regular;
	font-size: 18px;
	color: white;
}

#footer {
	width: 100%;
	height: 16px;
	background-color: #28d1a4;
	margin: 0 auto;
	text-align: center;
}

#footer span {
	position: absoulte;
	bottom: 0;
	font-family: Lato-Regular;
	font-size: 13px;
	color: white;
}